include LICENSE
include README.md
exclude src/napari_zen_streaming/.env

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.ome.tiff
recursive-exclude * *.czann
recursive-exclude * *.tiff
recursive-exclude * *.tif
